/* 颜色变量 */
$primary1: #6782f1;
$primary2: #859bf4;
$primary3: #a4b4f7;
$primary4: #a4b4f7;
$primary5: #ecf6ff;

$dark1: #262626;
$dark2: #434343;
$dark3: #595959;
$dark4: #bfbfbf;
$dark5: #f0f0f0;

$red: #f56c6c;

/* 阴影 */
$shadow1: 0 1px 2px -2px rgba(0, 0, 0, 0.16),0 3px 6px 0 rgba(0, 0, 0, 0.12),0 5px 12px 4px rgba(0, 0, 0, 0.09);
$shadow2: 0 3px 6px -4px rgba(0, 0, 0, 0.12),0 6px 16px 0 rgba(0, 0, 0, 0.08),0 9px 28px 8px rgba(0, 0, 0, 0.05);
$shadow3: 0 6px 16px -8px rgba(0, 0, 0, 0.08),0 9px 28px 0 rgba(0, 0, 0, 0.05),0 12px 48px 16px rgba(0, 0, 0, 0.03);

/* 边框 */
$border1: 1px solid #d9d9d9;
$border2: 2px solid #dcdfe6;

/* 圆角 */
$radiusLarger: 44px;
$radiusLarge: 16px;
$radiusMiddle: 6px;
$radiusSmall: 4px;

/* 行高 */
$lhCompact: 1.3;
$lhModerate: 1.5;
$lhLoose: 1.7;

/* 字体大小 */
$sLarger: 28px;
$sLarge: 22px;
$sNormal: 16px;
$sSmall: 14px;
$sMini: 12px;

$navbarHeight: 70px;
