/* 颜色变量 */
$primary1: #6782f1;
$primary2: #859bf4;
$primary3: #a4b4f7;
$primary4: #a4b4f7;
$primary5: #ecf6ff;

$dark1: rgba(0, 0, 0, 0.8);
$dark2: rgba(0, 0, 0, 0.6);
$dark3: rgba(0, 0, 0, 0.4);
$dark4: rgba(0, 0, 0, 0.3);
$dark5: rgba(0, 0, 0, 0.1);

$red: #f56c6c;

/* 阴影 */
$shadow1: 1px 1px 5px rgba(144, 140, 139, 0.65);
$shadow2: 0 2px 4px rgba(0, 0, 0, 0.2);
$shadow-below: 0 5px 2px #efefef;

/* 边框 */
$borderLight: 2px solid #f2f6fc;
$borderLighter: 2px solid #dcdfe6;

/* 圆角 */
$radiusLarger: 44px;
$radiusLarge: 16px;
$radiusMiddle: 6px;
$radiusSmall: 4px;

/* 行高 */
$lhCompact: 1.3;
$lhModerate: 1.5;
$lhLoose: 1.7;

/* 字体大小 */
$sLarger: 24px;
$sLarge: 20px;
$sNormal: 16px;
$sSmall: 14px;
$sMini: 12px;
