.room {
  padding: 5vh;

  .animation {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: default;
    user-select: none;
    background: linear-gradient(to top, rgba($color: $primary4, $alpha: 0.01) 50%, rgba($color: $primary4, $alpha: 0.22) 100%);
  }

  .add-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;
    cursor: pointer;
  }
}
